.data-mapper-content {
  margin-bottom: 60px;
}

.point-mapper-content {
  position: unset;
  margin-bottom: 60px;
}

.rich-data-nav__list {
  margin-bottom: 60px;
}

.watermark-wrapper {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.right-panel-toggles {
  position: fixed;
  right: 0;
  top: 80px;
}

.tutorial-button-container {
  height: 100%;
}

.current-view-container {
  display: flex;
  align-items: center;
}

@media (max-width: 480px) {
  .right-panel-toggles {
    top: 370px;
  }

  .choropleth-method-description, .filters__header_label {
    display: none !important;
  }
}