.data-mapper-content {
  margin-bottom: 60px;
}

.point-mapper-content {
  position: unset;
  margin-bottom: 60px;
}

.rich-data-nav__list {
  margin-bottom: 60px;
}

.watermark-wrapper {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.right-panel-toggles {
  position: fixed;
  right: 0;
  top: 80px;
}

@media (max-width: 480px) {
  .right-panel-toggles {
    top: 320px;
  }
}