name: E2E
on:
  push:
    branches:
      - staging
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 16.x
      - name: Get yarn cache
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: Cypress run
        uses: cypress-io/github-action@v4.1.0
        with:
          browser: chrome
          headless: true
        env:
          CYPRESS_BASE_URL: https://staging--wazimap-production.netlify.app
