name: E2E
on: pull_request
jobs:
  e2e_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 18.x
      - name: Get yarn cache
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: Set url
        run: echo "CYPRESS_BASE_URL=https://deploy-preview-${{github.event.pull_request.number}}--wazimap-production.netlify.app" >> $GITHUB_ENV
      - name: wait for netlify review app
        uses: nev7n/wait_for_response@v1
        with:
          url: ${{env.CYPRESS_BASE_URL}}
          timeout: 120000

      - name: Cypress run
        uses: cypress-io/github-action@v2.6.1
        with:
          browser: chrome
          headless: true
